{% extends 'base.html.twig' %}
{% block stylesheets %}
    <!-- Datatables -->
    <link href="{{ asset('bundles/app/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/app/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/app/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/app/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/app/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}" rel="stylesheet">
{% endblock %}
{% block title %} Paciente {% endblock %}
{% block Subtitulo %} Lista de Pacientes -  <small> <a href="{{ path('paciente_new') }}">Crear una nuevo paciente</a></small> {% endblock %} 
{% block body %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

    {% for msgs in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {% for msg in msgs %}
                <p>{{ msg }}</p>
            {% endfor %}
        </div>
    {% endfor %}
    <h1>Personas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nacionalidad </th>
                <th>Cedula</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>Primer Nombre</th>
                <th>Segundo Nombre</th>
                <th>Genero</th>
                <th>Fecha Nacimiento</th>
                <th>Correo</th>
                <th>Foto</th>
                <th>Estado Civil</th>
                <th>Telefono</th>
                <th>Comunidad</th>
                <th>Estudio</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for persona in personas %}
            <tr>
                <td><a href="{{ path('persona_show', { 'id': persona.id }) }}">{{ loop.index}}</a></td>
                <td>{{ persona.nacionalidad }} </td>
                <td>{{ persona.cedula |number_format(0, ',', '.')}}</td>
                <td>{{ persona.primerApellido |capitalize }}</td>
                <td>{{ persona.segundoApellido |capitalize }}</td>
                <td>{{ persona.primerNombre |capitalize }}</td>
                <td>{{ persona.segundoNombre |capitalize }}</td>
                <td>{{ persona.genero |capitalize }}</td>
                <td>{% if persona.fechaNacimiento %}{{ persona.fechaNacimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ persona.correo |capitalize }}</td>
                <td>{{ persona.foto }}</td>
                <td>{{ persona.estadoCivil |capitalize }}</td>
                <td>{{ persona.telefono }}</td>
                <td>{{ persona.comunidad |capitalize }}</td>
                <td>{{ persona.estudio |capitalize }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('persona_show', { 'id': persona.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('persona_edit', { 'id': persona.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('persona_new') }}">Create a new persona</a>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
    <!-- Datatables -->
    <script src="{{ asset('bundles/app/vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>   
    <script src="{{ asset('bundles/app/vendors/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
    <script src="{{ asset('bundles/app/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>

    <script src="{{ asset('bundles/app/vendors/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>    
    <script src="{{ asset('bundles/app/vendors/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>    
    <script src="{{ asset('bundles/app/vendors/datatables.net-buttons/js/buttons.print.min.js')}}"></script>    
    <script src="{{ asset('bundles/app/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>

    <script src="{{ asset('bundles/app/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>       
    <script src="{{ asset('bundles/app/vendors/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>     
    <script src="{{ asset('bundles/app/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>    
    <script src="{{ asset('bundles/app/vendors/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>

    <script src="{{ asset('bundles/app/vendors/jszip/jszip.min.js')}}"></script>       
    <script src="{{ asset('bundles/app/vendors/pdfmake/pdfmake.min.js')}}"></script>     
    <script src="{{ asset('bundles/app/vendors/pdfmake/vfs_fonts.js')}}"></script>     
    <script>
        $(document).ready(function () {
            var handleDataTableButtons = function () {
                if ($("#datatable-buttons").length) {
                    $("#datatable-buttons").DataTable({
                        dom: "Bfrtip",
                        buttons: [
                            {
                                extend: "copy",
                                className: "btn-sm"
                            },
                            {
                                extend: "csv",
                                className: "btn-sm"
                            },
                            {
                                extend: "excel",
                                className: "btn-sm"
                            },
                            {
                                extend: "pdfHtml5",
                                className: "btn-sm"
                            },
                            {
                                extend: "print",
                                className: "btn-sm"
                            },
                        ],
                        responsive: true
                    });
                }
            };

            TableManageButtons = function () {
                "use strict";
                return {
                    init: function () {
                        handleDataTableButtons();
                    }
                };
            }();

            $('#datatable').dataTable();

            $('#datatable-keytable').DataTable({
                keys: true
            });

            $('#datatable-responsive').DataTable();

            $('#datatable-scroller').DataTable({
                ajax: "js/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });

            $('#datatable-fixed-header').DataTable({
                fixedHeader: true
            });

            var $datatable = $('#datatable-checkbox');

            $datatable.dataTable({
                'order': [[1, 'asc']],
                'columnDefs': [
                    {orderable: false, targets: [0]}
                ]
            });
            $datatable.on('draw.dt', function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_flat-green'
                });
            });

            TableManageButtons.init();
        });
    </script>
    <!-- /Datatables -->
{% endblock %}
